.text-white,
.text-white a {
    color: white !important;
}

.img-horizontal {
    height: auto !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform:translate(0, -50%);
    -moz-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    -o-transform:translate(0, -50%);
    transform:translate(0, -50%);
}

.img-vertical {
    width: auto !important;
    position: absolute !important;
    left: 50% !important;
    -webkit-transform:translate(-50%, 0);
    -moz-transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    -o-transform:translate(-50%, 0);
    transform:translate(-50%, 0);
}
